@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .user {
    color: #fff;
    margin-bottom: 10px;
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: red;
  }
  .inside_container {
    display: flex;
    flex-direction: column;
  }
  .inside_container > input {
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: hidden;
    background-color: #eee;
    padding: 10px;
    text-align: left;
    font-size: 1em;
    outline: none;
  }
.button {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 1em;
    background-color: black;
    color: white;
    cursor: pointer;
}
